<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Result </title>
    <!-- <script src="../static/js/index.js"></script> -->
    <link rel="stylesheet" href="../static/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/bulma-badge.min.css">

</head>

<body class="has-background-light">
    <section id="rootsection" class="section is-hidden">
        <div class="container box">
            <p class="title"></p>
            <div class="data-container is-hidden">
                <p class="subtitle"></p>
                <div class="table-container">
                    <table
                        class="table is-bordered is-hoverable is-striped is-fullwidth">
                        <thead>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="columns is-multiline statistic-container">
                    <div class="column is-4">

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>